aws_region = "us-east-1"
environment = "dev"
service_name = "rewards"
vpc_cidr = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]
instance_type = "t4g.nano"
min_size = 1
max_size = 3
desired_capacity = 1

alarm_email = "candidate@example.com"

common_tags = {
  environment = "dev"
  service     = "rewards"
  owner       = "candidate"
  cost_center = "payments"
  managed_by  = "terraform"
}
