[defaults]
host_key_checking = False
remote_user = ec2-user
inventory = ./inventory/aws_ec2.yml
retry_files_enabled = False
interpreter_python = auto_silent

[inventory]
enable_plugins = aws_ec2

[aws_ssm]
bucket_name = rewards-ansible-ssm-dev
region = us-east-1

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
